<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angstrom to Bohr and Bohr to Angstrom conversion</title>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="script.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body ng-app="myapp">
  <div ng-controller="mycontroller">

    <div class="container">

      <div class="page-header">
        <h1>Angstrom to Bohr and Bohr to Angstrom conversion</h1>
        <p>
	  A simplistic "Google Translate" for Angstrom to Bohr and Bohr to
          Angstrom conversion page.  Whatever (space separated) numbers you type or paste in
          there get converted preserving the (im)precision.  You can paste in entire xyz
          files. You can also abuse this page to convert other data using other
          conversion factors.
        </p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h4>Conversion factor (<a href="http://physics.nist.gov/cgi-bin/cuu/Value?bohrrada0">source</a>)</h4>
          <input ng-model="factor" ng-change="change()" type="text">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h4>Type or paste text block in Angstrom</h4>
          <textarea ng-model="angstrom" ng-change="change()" rows="10" cols="60"></textarea>
        </div>
        <div class="col-md-6">
          <h4>Result in Bohr</h4>
          <pre>{{angstrom|convert : 1.0/factor}}</pre><br>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h4>Type or paste text block in Bohr</h4>
          <textarea ng-model="bohr" ng-change="change()" rows="10" cols="60"></textarea>
        </div>
        <div class="col-md-6">
          <h4>Result in Angstrom</h4>
          <pre>{{bohr|convert : factor}}</pre><br>
        </div>
      </div>

    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">
          <div ng-show="loaded">
            Version:
            <a href="https://github.com/bast/angstrom-bohr/commit/{{last_sha}}" target="_blank">{{last_sha_short}}</a>
            <!--
            <a href="{{html_url}}" target="_blank">
              <img src="{{avatar_url}}" width="20" height="20" alt="{{name}}"></a>
            -->
          </div>
          <a href="https://github.com/bast/angstrom-bohr">Source code</a>.
          Copyright (c) 2015, <a href="http://bast.fr">Radovan Bast</a>.
          All rights reserved.
          Privacy: All data you enter stays between you and your browser.
        </p>
      </div>
    </footer>

  </div>
</body>

</html>
